@font-face {
    font-family: matiasrosas;
    src: url(../Fonts/made-soulmaze.otf);
  }
  @font-face {
    font-family: DragandNav;
    src: url(../Fonts/Mightyline.ttf);
  }
  @font-face {
    font-family: textcards;
    src: url(../Fonts/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: Navbarestilo;
    src: url(../Fonts/Helvetica-Bold.ttf);
  }